ul {
  list-style: none;
}

.field-clicked:valid {
  border: 2px solid green;
  background-color: 2px solid green;
  color: green;
}

.field-clicked:invalid {
  border: 2px solid red;
  background-color: 2px solid red;
  color: red;
}
